@import '../../../mixin.scss';

header {
    @include dFlex(row, space-between, center);
    padding: 20px 32px; 
    background-color: #09212A;
    height: 100px;
    color: #fff;

    > div > img {
        width: 160px;
    }
}

.dark-mode header {
    background-color: #eaeaea;
    color: #222;
}

.addBtn{
    @include buttonBase(transparent, #FD5B4F, 2px solid #FD5B4F, 24px, 0 24px);
    height: 48px;
    @include dFlex(row, center, center);
    @include transition(background-color 0.3s, color 0.3s);
    >div{
        @include dFlex(row, center, center);
        height: 24px;
        width: 24px;
        >svg {
            margin-left: 8px;
            height: 14px;
            width: 14px;
        };
    }
}

.dark-mode .addBtn {
    color: #FD5B4F;
    border-color: #FD5B4F;
    background: #fff;
}

.addBtn:hover {
    color: white;
    background-color: #FD5B4F;
}

.dark-mode .addBtn:hover {
    background-color: #FD5B4F;
    color: #fff;
}

.addBtn:active {
    color: white;
    background-color: #FC2D1C;
    border-color: #FC2D1C;
}

.dark-mode .addBtn:active {
    background-color: #FC2D1C;
    color: #fff;
}